@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;

.title-h1-italic {
    @include title;
    font-size: 24px;
    font-style: italic;
}

.title-h1,
.title-h2 {
    @include title;
    font-weight: 500;
    font-size: 32px;
}

.title-h3 {
    @include title;
    font-weight: 500;
    font-size: 20px;
}

.title-footer-h4 {
    @include title;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: left;
    color: $light;
    margin-bottom: 40px;
}

.title-card-h2 {
    @include title;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    text-align: left;
    color: #000;
    text-transform: none;
}

@media screen and (min-width: 768px) {

    .title-h1,
    .title-h2 {
        font-size: 36px;
    }

    .title-h3 {
        font-size: 24px;
    }
}

@media screen and (min-width: 1200px) {

    .title-h1,
    .title-h2 {
        font-size: 40px;
    }
}

@media screen and (min-width: 1920px) {
    .title-h1-italic {
        font-size: 32px;
        line-height: 38px;
    }
}